*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
div{min-height: 100vh;
    min-width: 100vw;

    color:black;
    font-size:60px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: small;
}
.big-img{
    background: url(./landscape2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.small-img{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./landscape2.jpeg)center/cover fixed no-repeat;
}
